html {
    height: 100%;
    min-height: 100%;
}

body {
    background: #2a3148;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
    position: relative;
    padding-bottom: 70px;
    grid-template-rows: auto 1ft auto;
}

header h1 {
    font-size: 6em;
    margin-bottom: 0;
    color: rgb(102, 155, 181);
    text-align: center;
    text-shadow: 3px -1px 6px black;
    text-transform: uppercase;
}

.enter-form {
    width: 27em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    height: 12em;
    background-color: rgb(255, 255, 255);
    border-radius: 14px;
    box-shadow: 4px 4px 10px 0px rgb(45, 45, 45);
    background: linear-gradient(-35deg, #9f6400, #ff9a1e);
    padding-top: 3em;
}

.enter-form input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.enter-form button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;
}

#navigation-bar {
    background-color: rgb(57, 123, 181);
    margin-top: 0;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1.5px 1.5px 2px rgb(0, 0, 0);
    font-size: 1.5em;
}

#output {
    padding-left: 2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background-color: #292f46;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

#send-bar {
    width: 100%;
    background-color: rgb(57, 123, 181);
}

#send-bar input {
    width: 90%;
    height: 3em;
    margin-left: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.message-text {
    margin-left: 1.2em;
    padding: 0.4em;
    width: 15%;
    border-radius: 4.5px;
    color: rgb(0, 0, 0);
    background-color: rgb(195, 247, 238);
}
